.Signets {
    text-align: left;
    background-color: red;
    color: white;
    margin: 10px;
    .titre {
        font-size: 25px;
    }
    p {
        padding-left: 12px;
    }
    
    img {
        width: 100%;
      }
}