.Signets {
    text-align: left;
    color: white;
    margin: 10px;
    -webkit-box-shadow: -1px 3px 7px 0px #000000; 
    box-shadow: -1px 3px 7px 0px #000000; //html-css-js.com
    .titre {
        font-size: 25px;
    }
    p {
        padding-left: 12px;
    }
    
    img {
        width: 100%;
      }
}
.sort {
    position: absolute;
    z-index: 8;
    background-color: black;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    text-align: center;
    opacity: 0.7;
    margin-left: 3px;
    margin-top: 3px;
}

.leSignet p:last-child {
    text-align: right;
}
.Signets:nth-of-type(1) {
    background-color: black;
}
.Signets:nth-of-type(2) {
    background-color: green;
}
.Signets:nth-of-type(3) {
    background-color: deepskyblue;
}
.Signets:nth-of-type(4) {
    background-color: red;
}
.Signets:nth-of-type(5) {
    background-color: rgb(219, 181, 11);
}
.Signets:nth-of-type(6) {
    background-color: green;
}
.Signets:nth-of-type(7) {
    background-color: deepskyblue;
}
.Signets:nth-of-type(8) {
    background-color: black;
}
.Signets:nth-of-type(9) {
    background-color: rgb(204, 35, 190);
}
.Signets:nth-of-type(10) {
    background-color: rgb(185, 185, 185);
    color: rgb(58, 58, 58);
}